.eventWrap{
    display: flex;
    align-items: center;
    justify-content: center;

    .innerDiv{
        border:1px solid #f1f1f1;
        border-radius: 10px;
        box-sizing: border-box;
        width: 20%;
        margin-right: 20px;
        padding: 20px;
        text-align: center;

        &:last-of-type{
            margin-right: 0;
        }

        >p{
            text-align: left;
            span{
                border:2px solid #0675c1;
                box-sizing: border-box;
                padding: 5px 8px;
                border-radius: 15px;
                color: #0675c1;
                font-weight: 700;
            }
        }

    img{
        box-sizing: border-box;
        width: 70%;
        height: auto;
        margin-top: 20px
    }
    }


};