:root {
  --main-font-color: #000f22;
  /* 메인 폰트컬러 */

  --main_color1: #0675c1;
  /* 메인컬러 1 */

  --main_color2: #059b84;
  /* 메인컬러 2 */

  --main_color3: #d48121;
  /* 메인컬러 3 */

  --contents_bg_color: #F8F8F8;
  /*컨텐츠 배경색*/

  --contents_border_color: #ECECEC;
  /*컨텐츠 border 색깔*/
}



@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* 토글 */
:focus-visible,
:focus {
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}




li {
  list-style: none;
}

.minibanner {
  background-color: var(--main_color1);
  font-weight: bold;
  font-size: 20px;
}

.minibanner a {
  line-height: 45px;
  color: var(--contents_bg_color);
  text-decoration: none;
}


/* 슬라이드 */


#slidebanner .pagination {
  align-items: center;
  margin-right: 1rem;
  width: auto;
}

#slidebanner .pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 50px;
  margin: 0;
  position: relative;
  height: 10px;
  opacity: 1;
  background-color: transparent;
}

#slidebanner .pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: var(--contents_bg_color);
}

#slidebanner .swiper-pagination-bullet-active {
  background-color: transparent !important;
}

#slidebanner .swiper-pagination-bullet-active::before {
  height: 3px !important;
}

#slidebanner button.button-next-slide,
#slidebanner button.button-prev-slide {
  height: auto;
  width: auto;
  margin: 0;
  padding: 4px 8px;
  align-items: center;
  display: flex;
}

#slidebanner button.button-next-slide::before,
#slidebanner button.utton-prev-slide::before {
  content: "";
  color: var(--contents_bg_color);
  font-size: 18px;
  z-index: 100000;
}