:root {
  --main-font-color: #000f22;
  /* 메인 폰트컬러 */

  --main_color1: #0675c1;
  /* 메인컬러 1 */

  --main_color2: #059b84;
  /* 메인컬러 2 */

  --main_color3: #d48121;
  /* 메인컬러 3 */

  --contents_bg_color: #F8F8F8;
  /*컨텐츠 배경색*/

  --contents_border_color: #ECECEC;
  /*컨텐츠 border 색깔*/
}



@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* 토글 */
:focus-visible,
:focus {
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}




li {
  list-style: none;
}

.minibanner {
  background-color: var(--main_color1);
  font-weight: bold;
  font-size: 20px;
}

.minibanner a {
  line-height: 45px;
  color: var(--contents_bg_color);
  text-decoration: none;
}

/* 
#hd .navbar {
  padding: 0;
} */

/* .logo img {
  max-width: 100%;
  height: auto;
}


#gnbs {
  width: 650px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

#gnbs li {
  padding: 0 1rem;
}

#gnbs li:last-child {
  padding-right: 0;
}

#gnbs a {

  line-height: 100px;
  position: relative;
  font-family: 'GmarketSansMedium' !important;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: var(--main-font-color);
  display: block;
  padding: 0;

}

#gnbs a:hover {
  color: var(--main_color3);
}

#gnbs a::after {
  content: "";
  position: absolute;
  background-color: var(--main_color3);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 30px;
  transition: .3s;

}

#gnbs a:hover::after {
  width: 100%;
}
 */

/* button.navbar-toggler {
  border: 0;
} */


/* 슬라이드 */


