$main_font_color: #000f22;
$main_color1: #0675c1;
$main_color2: #059b84;
$main_color3: #d48121;
$contents_bg_color: #F8F8F8;
$contents_border_color: #ECECEC;


.banner {

  .btn {
    bottom: 165px;
    z-index: 10000;
    left: 0;
    right: 0;
    margin: 0 auto;

  }

}



.bannerSlide {
  img {
    height: auto;
    width: 100%;
    display: block;
  }

  .content {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 3;

    & h2,
    p {
      color: $contents_bg_color;
    }

    h2 {
      font-size: 90px;
      letter-spacing: -6px;
    }

    p {
      font-size: 35px;
    }

  }
}




// 모바일 버전
@media screen and (max-width: 768px) {
  .banner {}

  .bannerSlide {

    img {
      height: 70vh;
      // width: auto;
      display: block;
      object-fit: cover;
    }

  }

  .content {
    text-align: center;

    h2 {
      font-size: 45px !important;
    }

    p {
      font-size: 20px !important;
    }
  }

}